.projeto{
    width: 100%;
    padding:2em 1em;
  
    margin: 0;
    height: auto;
    background-color: rgb(39, 26, 75);
}

.projeto h1{
   
    margin: 0;
}

.cards{
    
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
   flex-wrap: wrap;
   width: 100%;
}

.card{
    width: 300px;
    padding: 10px;
    transform: skew(-5deg);
    display: flex;
    justify-content: center;
    background-color: rgb(40, 71, 90);
    height: 300px;
    align-items: center;
    flex-direction: column;
}

.card a{
    font-size: 1.3em;
    color: rgb(194, 29, 175);
}

.description{
    text-align: justify;
    color: orange;
}