.projeto{
    width: 100%;
    padding:1em 1em;
  
    margin: 0;
    height: auto;
    background-color: rgb(233, 30, 30);
}

.projeto h1{
   
    margin: 0;
}

.cards{
    
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
   flex-wrap: wrap;
   width: 100%;
}

.card{
    width: 300px;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: beige;
    height: 300px;
    align-items: center;
    flex-direction: column;
}