.content{
    background-color: rgb(208, 91, 91);
}

.header{
    padding: 15px 0;
    height: auto;
    background-image: url('https://i.pinimg.com/1200x/de/c4/ae/dec4ae50fc550bdb0478c1fc71f90cd0.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
  
}

.items{
    color:white;
    font-size: .8em;
    display: flex;
    justify-content: center;
    align-items: center;
  
    text-transform: uppercase;
    text-align: center;
    width: 100px;
    height: 50px;
    background-color: rgb(167, 6, 173);
    border-radius: 10px;
    transition: background-color .2s;
}


.links_infor{
    width: 100%;
    text-decoration: none;
    height: 50px;
    padding: 15px;
    display: flex;
    gap: 20px;
    justify-content: center;
   
}

a{
    text-decoration: none;
}

.items:hover{
    background-color: rgb(249, 127, 255);
    color: black;
    transform: skewX(1deg);
}

.titulo_porti {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   align-items: center;
   justify-content: space-around;
   margin-top: 10px;
    width: 100%;
   height: auto;
    padding: 5px;
}

.titulo_porti h1, h2{
  font-family: 'Poppins', sans-serif;
  color: white;
}

.informPorti{
    padding: 10px;
    width: 500px;
    background-color:rgba(0,0,0,0.2);
    
}


.image img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: orange;
}