
.header{
    width: 100%;
    display: flex;
    padding-block: 1em;
    justify-content: center;
    align-items: center;
    background-color: rgb(89, 23, 120);
}

.links_infor{
    width: 300px;
    padding: 1.5em;
    align-items: center;
    justify-content: center;
    display: flex;
    
    gap: 20px;
}

.items{
    background-color: rgb(142, 54, 177);
    border-radius: 1.5em;
    color: white;
    padding: .9em;
  
}
.items:hover{
    background-color: rgb(172, 34, 156);
    color: red;
}
.items:active{
    border: 3px solid rgb(221, 80, 206);
    
    
}

.footer{
    width: 100%;
    align-items: center;
    padding-block: 1em;
    color: white;
    text-transform: uppercase;
    justify-content: center;
    display: flex;
    background-color: rgb(50, 16, 84);
}